html {
    background: #F2F1EF;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

main {
    margin: 0 0 354px 0;
    position: relative;
    z-index: 2;
}

main:after {
    background: url('/images/triangle-bottom.svg');
    content: "";
    display: block;
    height: 101px;
    width: 100%;
}

ht24-footer {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

sticky.sticky {
    width: inherit !important;
}

.sticky-end {
    margin-right: 24px;
}

@media screen and (max-width: 800px) {
    main {
        margin: 0;
    }

    ht24-footer {
        position: relative;
    }
}