<h3>ARTIKEL BEWERTEN</h3>
<form (ngSubmit)="onSubmit()">
    <fieldset>
        <span class="star-cb-group">
          <input type="radio" id="rating-5" name="rating" value="5" [(ngModel)]="rankingValue" /><label class="mx-auto" for="rating-5">5</label>
          <input type="radio" id="rating-4" name="rating" value="4" [(ngModel)]="rankingValue" /><label class="mx-auto" for="rating-4">4</label>
          <input type="radio" id="rating-3" name="rating" value="3" [(ngModel)]="rankingValue" /><label class="mx-auto" for="rating-3">3</label>
          <input type="radio" id="rating-2" name="rating" value="2" [(ngModel)]="rankingValue" /><label class="mx-auto" for="rating-2">2</label>
          <input type="radio" id="rating-1" name="rating" value="1" [(ngModel)]="rankingValue" /><label class="mx-auto" for="rating-1">1</label>
          <input type="radio" id="rating-0" name="rating" value="0" [(ngModel)]="rankingValue" class="star-cb-clear" /><label class="mx-auto" for="rating-0">0</label>
        </span>
        <button type="submit" class="btn btn-success btn-block">Bewertung abgeben</button>
    </fieldset>
</form>