<section name="loading-content" class="animated fadeIn" *ngIf="isLoading">
    <div class="container p-5">
        <main class="col-xs-12">
            <h2>Bitte warten...</h2>
        </main>

    </div>
</section>

<section name="error-content" class="animated fadeIn" *ngIf="isError && !isLoading">
    <div class="container p-5">
        <header class="col-xs-12">
            <h1 class="display-1">4<span class="htblue">0</span>4</h1>
            <h2>[ Oops, die Seite konnte ich nicht finden ]</h2>
        </header>
        <main class="col-xs-12">
            <p>Fehler passieren jedem einmal... gibst du mir noch eine Chance?</p>
            <form class="p-5">
                <div class="form-group col-md-9 mx-auto">
                    <input type="search" class="form-control form-control-lg" placeholder="Suchbegriff eingeben..." />
                    <p id="passwordHelpBlock" class="form-text text-muted p-2">
                        Ich bin stets bemüht, dir genau die Inhalte zu bieten, nach denen du suchst.
                    </p>
                </div>
            </form>
        </main>
    </div>
</section>
<section name="article-content" class="animated fadeIn" *ngIf="!isError && !isLoading">
    <article *ngFor="let article of articleInformation" >
        <header class="col-xs-12">
            <div class="container">
                <figure>
                    <picture>
                        <source srcset="http://placehold.it/1600x500, http://placehold.it/3200x1000" media="(min-width: 1024px)" />
                        <source srcset="http://placehold.it/480x250, http://placehold.it/960x500" media="(min-width: 480px)" />

                        <!---Fallback--->
                        <img class="img-fluid" src="http://placehold.it/480x250" alt="Feuerwehrfest 2014" srcset="http://placehold.it/480x400, http://placehold.it/960x800" />
                    </picture>

                    <figcaption class="article-headline">
                        <h1 class="p-4">{{article?.name}}</h1>
                        <span class="p-4 article-rating">★ ★ ★ ★ ★</span>
                    </figcaption>
                </figure>
            </div>
            <div class="breadcrump p-4">
                <div class="container p-4">
                    Startseite &raquo; Kategorie &raquo; <span class="active">{{article?.name}}</span>
                </div>
            </div>
        </header>

        <div class="content p-4">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <p class="short-description p-4">
                            {{article?.short_description}}
                        </p>

                        <main [safeHtml]="article?.content" class="p-4">
                        </main>
                        <footer>
                            <section name="author-info" class="p-4 col-md-10 float-md-right">
                                <figure>
                                    <img class="img-circle float-md-left" src="https://placehold.it/600x450" alt="Placeholder Text" height="175" width="175" />
                                    <figcaption class="p-2">
                                        <h3>Über den Author</h3>
                                        <p>Ein Abschnitt aus dem "Über mich" TextEin Abschnitt aus dem "Über mich" Text
                                            Ein Abschnitt aus dem "Über mich" TextEin Abschnitt aus dem "Über mich" Text
                                            Ein Abschnitt aus dem "Über mich" TextEin Abschnitt aus dem "Über mich" Text
                                            Ein Abschnitt aus</p>
                                    </figcaption>
                                </figure>
                            </section>
                            <div class="clearfix"></div>
                            <section name="commentar-box" class="col-xs-12">
                                Kommentare & Co.
                            </section>

                        </footer>
                    </div>
                    <aside class="col-xs-12 col-md-4 p-4 social-icons">
                        <sticky [sticky-offset-top]="100" sticky-width="342px">
                            <section name="author-info" class="p-4">
                                <ht24-rating [articleId]="article?.id"></ht24-rating>
                            </section>
                            <section name="author-info" class="p-4">
                                <h3>Inhaltsverzeichnis</h3>
                            </section>
                            <section name="author-info" class="p-4">
                                <h3>Umfrage</h3>
                            </section>
                            <section name="author-info" class="p-4">
                                <h3>Neuigkeiten</h3>
                            </section>
                        </sticky>
                    </aside>
                </div>
            </div>
        </div>
    </article>
</section>
