<header>
    <div class="jumpfix"></div>

    <div class="container clearfix">
        <div class="row">
            <div id="logo" class="col-xs-8 col-md-3 vcenter">
                <img class="vcenter img-responsive" width="270" height="72" alt="" title="" src="/images/htaccess24.svg" />
                <!-- <img class="vcenter img-responsive" width="270" height="72" alt="" title="" src="http://placehold.it/270x72" />-->
             </div>

             <nav class="col-xs-1 col-md-8 pull-right">
                 <ul class="hidden-xs hidden-sm pull-right">
                     <li class="pull-right"><a href="">Über mich</a></li>
                     <li class="pull-right"><a href="">Tools</a></li>
                     <li class="pull-right"><a href="">Tutorials</a></li>
                     <li class="active pull-right"><a href="">Blog</a></li>
                 </ul>

                 <div class="hidden-md hidden-lg pull-right menu-toggler" (click)="toggleMenue()">
                     <div id="nav-icon3" [ngClass]="{'open': isOpened}">
                         <span></span>
                         <span></span>
                         <span></span>
                         <span></span>
                     </div>
                 </div><!-- /device -->
            </nav>
        </div>
    </div>
    <div id="dummy2" class="dummy col-xs-12 hidden-md hidden-lg" [ngClass]="{'dummy--active': isOpened, 'animated fadeIn': isOpened}">
        <div class="dummy__item">
            <h3><a class="active" href="#" target="_self">Blog</a></h3>
        </div>
        <div class="dummy__item">
            <h3><a class="active" href="#" target="_self">Tutorials</a></h3>
        </div>
        <div class="dummy__item">
            <h3><a class="active" href="#" target="_self">Tools</a></h3>
        </div>
        <div class="dummy__item">
            <h3><a class="active" href="#" target="_self">Über mich</a></h3>
        </div>
    </div><!-- /dummy -->
    <div class="clearfix"></div>
</header>