<div class="jumpfix"></div>
<header class="navbar fixed-top">
    <nav class="navbar fixed-top">
        <div class="container">
            <div class="row d-flex justify-content-start">
                <a class="navbar-brand" (click)="toggleMenueIfOpened()" routerLink="/">
                    <img class="img-fluid" width="254" height="59" alt="" title="" src="/images/htaccess24.svg" />
                    <!--<img class="img-fluid" width="254" height="59" alt="" title="" src="https://placehold.it/254x59" />-->
                </a>

                <ul class="navbar-nav ml-auto hidden-md-down flex-row">
                    <li class="nav-item h-100" routerLinkActive="active"><a class="nav-link" routerLink="/blog">Blog</a></li>
                    <li class="nav-item h-100" routerLinkActive="active"><a class="nav-link" routerLink="/tutorials">Tutorials</a></li>
                    <li class="nav-item h-100" routerLinkActive="active"><a class="nav-link" routerLink="/tools">Tools</a></li>
                    <li class="nav-item h-100" routerLinkActive="active"><a class="nav-link" routerLink="/ueber-mich">Über mich</a></li>
                    <li class="nav-item h-100" routerLinkActive="active"><a class="nav-link" routerLink="/kontakt">Kontakt</a></li>
                    <!-- <li class="nav-item h-100" routerLinkActive="active"><a class="nav-link faq" routerLink="/faq">?</a></li> -->
                </ul>

                <div class="hidden-lg-up ml-auto menu-toggler" (click)="toggleMenue()">
                    <div id="nav-icon3" [ngClass]="{'open': isOpened}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div><!-- /device -->
            </div>
        </div>
    </nav>
    <div id="dummy2" class="dummy hidden-lg-up h-100" [ngClass]="{'dummy--active': isOpened, 'animated fadeIn': isOpened}">
        <nav>
            <div class="container">
                <ul class="nav">
                    <li><a routerLink="/blog" routerLinkActive="active" (click)="toggleMenue()">Blog</a></li>
                    <li><a routerLink="/tuts" routerLinkActive="active" (click)="toggleMenue()">Tutorials</a></li>
                    <li><a routerLink="/tools" routerLinkActive="active" (click)="toggleMenue()">Tools</a></li>
                    <li><a routerLink="/ueber-mich" routerLinkActive="active" (click)="toggleMenue()">Über mich</a></li>
                    <li><a routerLink="/kontakt" routerLinkActive="active" (click)="toggleMenue()">Kontakt</a></li>
                    <!--<li class="nav-item h-100" routerLinkActive="active"><a class="nav-link faq" routerLink="/faq">?</a></li>-->
                </ul>
            </div>
        </nav>

    </div>
    <div class="clearfix"></div>
</header>

