.active {
     font-weight: bolder;
 }

.unactive {
    font-weight: normal;
}

/*
====================================
- START :: Navigation Toggler
******************************************************************/
/* Menu icon styles */

#nav-icon3 {
    width: 45px;
    height: 45px;
    position: relative;
    margin: 15px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #666666;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 14px;
}

#nav-icon3 span:nth-child(4) {
    top: 28px;
}

#nav-icon3.open span:nth-child(1) {
    top: 14px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 14px;
    width: 0%;
    left: 50%;
}

.menu-icon-wrapper {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 1.5em 1em 2em 0;
    pointer-events: none;
    transition: 0.1s;
}

.menu-icon-wrapper.scaled {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.menu-icon-wrapper svg {
    position: absolute;
    top: -33px;
    left: -33px;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.menu-icon-wrapper svg path {
    stroke: #666;
    stroke-width: 60px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
    outline: none;
}

.dummy__item {
    height: 3em;
    margin: 1em 1.25em;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.dummy__item {
    -webkit-transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
    transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.device--alt .dummy__item {
    -webkit-transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
    transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
}

.device {
    height: 100%;
}

.device__screen {
    height: 100%;
}

#dummy2 {
    opacity: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /*max-height: 630px;*/
    /* min-height: 462px; */
    /*height: 100%;*/
    height: 0px;
    transition:all .5s;
}

#dummy2.dummy--active {
    opacity: 1 !important;
    z-index: 999 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 75px;
    overflow-y: scroll;
    background: #fff;
    border-top: 1px solid #efefef;
    /* display: block !important; */
    -webkit-overflow-scrolling: touch;
    height: auto;
    transition:all .1s ease;
}

.dummy--active .dummy__item {
    -webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
    transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.dummy__item:nth-child(4),
.dummy--active .dummy__item:first-child {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.dummy__item:nth-child(3),
.dummy--active .dummy__item:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.dummy__item:nth-child(2),
.dummy--active .dummy__item:nth-child(3) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(4) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(5) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(6) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(7) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(8) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(9) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(10) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

/*
====================================
- START :: Header Area
******************************************************************/

header {
    box-shadow: 0px 1px 6px #222;
    width: 100%;
    height: 75px;
    overflow: hidden;
    /*position: fixed;
    top: 0;
    left: 0;*/
    z-index: 999;
    background: #FCFCFC; /* FCFCFC */
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header div#logo {
    display: inline-block;
    height: 125px;
    line-height: 80px;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
}

header nav {
    display: inline-block;
    float: right;
}

header nav ul {
    list-style: none;
    margin-top: -3%;
    height: 75px;
    width: 100%;
}

header nav ul li {
    float: left;
    height: 96px;
}

header nav ul li.active {
    border-bottom: 4px solid #1babe3;
}

header nav ul li:hover,
header nav ul li:focus {
    border-bottom: 4px solid #1babe3;
    transition: .2s all;
}

header nav a {
    line-height: 125px;
    padding-left: 20px;
    color: #595657;
    padding-right: 20px;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
}

section {
    opacity: 1;
    transition: .5s all;
    display: block;
}

section.hide-content {
    display:none;
}

header nav a:hover {
    color: #000;
    text-decoration: none;
}

header.smaller {
    height: 125px;
    top: 0px;
}

.section-title {
    padding: 32px 0px 16px !important;
    font-size: 4rem;
    color: #fff;
    font-variant: small-caps;
    display: block;
    width: 100%;
}

/*header.smaller div#logo {
	/*width: 150px;
	height: 88px;
	line-height: 88px;
}*/

header.smaller div#logo {
    height: 125px;
    line-height: 80px;
}

header.smaller nav a {
    line-height: 80px;
}

/*// The wrapper was defined with a fixed width and height
// Note, that the pointer-events property is set to 'none'.
// We don't need any pointer events in the entire element.*/
.menu-icon-wrapper{
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    pointer-events: none;
    transition: 0.1s;
}

/*// To perform the scaled transform for the second demo*/
.menu-icon-wrapper.scaled{
    transform: scale(0.5);
}

/*// Adjusting the position of the SVG element*/
.menu-icon-wrapper svg{
    position: absolute;
    top: -33px;
    left: -33px;
}

/*// Defining the styles for the path elements*/
.menu-icon-wrapper svg path{
    stroke: #fff;
    stroke-width: 6px;
    stroke-linecap: round;
    fill: transparent;
}

/*// Setting the pointer-events property to 'auto',
// and allowing only events for the trigger element*/
.menu-icon-wrapper .menu-icon-trigger{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* #logo img {
	min-width: 210px;
	min-height: 88px;
} */

.jumpfix {
    height:75px;
    display: none;
}

@media all and (max-width:960px) {
    .jumpfix.enable {
        display:block;
    }
}

@media all and (max-width: 660px) {
    header {
        height: 75px;
    }

    header div#logo {
        display: block;
        margin: 0 auto;
        height: 75px;
        line-height: 75px;
        text-align: center;
    }

    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }

    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }

    header.smaller {
        height: 75px;
        position: fixed;
    }

    .animate-header {
        animation-name: animateHeader;
        animation-duration: 2s;
    }

    @keyframes animateHeader {
        from {opacity: 0;top:-200px}
        to {opacity: 1;top:0px}
    }

    header.smaller div#logo {
        height: 75px;
        line-height: 75px;
    }

    header.smaller nav {
        height: 35px;
    }

    header.smaller nav a {
        line-height: 35px;
    }

    #dummy2 .dummy__item h3 a {
        font-size: 1.1em !important;
        color: #666;
        display: block;
        padding: 20px 0;
    }
}

/*
====================================
- END :: Header Area
******************************************************************/