section[name="article-content"] {
    background: #F2F1EF
}

section[name="article-content"] article header {
    background: #595657;
}

section[name="article-content"] article header .container img.img-fluid {
    object-fit: cover;
    min-width: 100%;
}

section[name="article-content"] article .container {
    padding: 0
}

section[name="article-content"] article header figcaption.article-headline {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    margin-top: -104px;
    position: relative;
    z-index: 0;
}

section[name="article-content"] article header h1 {
    font-size: 1.75em;
    color: #ffffff;
}

section[name="article-content"] article header span.article-rating {
    color: #1BABE3;
    padding-top: 0 !important;
    padding-bottom: 0.5em !important;
    margin-top: -30px;
    font-size: 1.5em;
    display: block;
}

section[name="article-content"] article header .breadcrump {
    background: #222;
    color: #595657;
    margin-top: -16px;
    margin-bottom: 2em;
}

section[name="article-content"] article header .breadcrump span.active {
    color: #FFFFFF;
}

section[name="article-content"] article header .breadcrump .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/**
 * Article Content Styling
 */

:host /deep/ main.safeHtml {
    /* background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0; */
    color: #595657;
    font-size: 1.2em;
    /* margin-top: 1.25em */

}

:host /deep/ main.safeHtml h1,
:host /deep/ main.safeHtml h2 {
    font-size: 2rem;
}

:host /deep/ main.safeHtml h3,
:host /deep/ main.safeHtml h4 {
    font-size: 1.8rem;
}

:host /deep/ main.safeHtml h5,
:host /deep/ main.safeHtml h6 {
    font-size: 1.6rem;
}

:host /deep/ main.safeHtml h1:first-letter,
:host /deep/ main.safeHtml h2:first-letter,
:host /deep/ main.safeHtml h3:first-letter,
:host /deep/ main.safeHtml h4:first-letter,
:host /deep/ main.safeHtml h5:first-letter,
:host /deep/ main.safeHtml h6:first-letter {
    color: #1BABE3;
}

:host /deep/ main.safeHtml pre {
    margin-bottom: 0;
    color: #a9b7c6;
}

section[name="article-content"] article .content {
    padding-top: 0 !important;
}

section[name="article-content"] article p.short-description {
    /* background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0; */
    color: #595657;
    font-weight: bold;
    padding-bottom: 0 !important;
    /* margin-bottom: 2.25em; */
}

section[name="author-info"] {
    background: #e0dfde;
}

section[name="author-info"]:after {
    clear: both;
}

.author-image {
    margin-left: -111.5px;
    margin-right: 28px;
    margin-top: 3.5px;
}

/**
 * Error Content
 */
section[name="loading-content"],
section[name="error-content"] {
    background: #F2F1EF;
    color: #595657;
    text-align:center;
}

section[name="error-content"] header h1 {
    font-size:12em;
    text-align:center;
    font-family:Metrophobic;
    letter-spacing:.25em;
    font-weight: 700;
    font-style: italic;
    line-height:2.75em
}

section[name="error-content"] header h1 span.htblue {
    color: #1BABE3;
}

section[name="error-content"] header h2 {
    font-size:2em;
    font-family:Metrophobic;
}

section[name="error-content"] main {
    font-size: 1.5em;
}

section[name="error-content"] main .form-text {
    font-size: 0.75em;
}

section[name="error-content"] footer article {
    background: #ffffff;
    text-align: start;
    padding: 0
}

/**
 * Sidebar
 */
aside {
    padding-top: 0 !important;
}

aside section {
    background: #e0dfde;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 9px 9px 0;*/

    margin-bottom: 1.75em
}

aside section h3 {
    font-size: 1.3em;
    margin-bottom: 0;
}

aside section figure {
    margin-top: 1.5em;
}

.sticky,
.sticky-end {
    margin-right: 24px;
}
