<section name="top-news" class="p-4">
    <header class="container">
        <h1 class="small">Neues aus dem Blog</h1>
    </header>
    <main class="container columns">
        <div class="column main-column">
            <a *ngFor="let news of topNews" class="article first-article" routerLink="/{{news?.slug}}" title="Artikel {{news?.name}} weiterlesen">
                <figure class="article-image is-3by2">
                    <img src="{{news?.image_url}}" alt="" />
                </figure>
                <div class="article-body">
                    <h2 class="article-title">
                        <span class="title">{{news?.name}}</span>
                        <span class="number">#{{news?.position}}</span>
                    </h2>
                    <p class="article-content">
                        {{news?.short_description}}
                    </p>
                    <footer class="article-info">
                        <span>By Joe Smith</span>
                        <span>{{news?.reading_time}}min. Lesezeit</span>
                    </footer>
                </div>
            </a>
            <div class="columns">
                <div *ngFor="let news of newsImages" class="column nested-column">
                    <a class="article" routerLink="/{{news?.slug}}">
                        <figure class="article-image is-16by9">
                            <img src="{{news?.image_url}}" alt="" />
                        </figure>
                        <div class="article-body">
                            <h2 class="article-title">
                                <span class="title">{{news?.name}}</span>
                                <span class="number">#{{news?.position}}</span>
                            </h2>
                            <p class="article-content">
                                {{news?.content}}
                            </p>
                            <footer class="article-info">
                                <span>By Joe Smith</span>
                                <span>{{news?.reading_time}}min. Lesezeit</span>
                            </footer>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="column aside-column">
            <a *ngFor="let news of newsWithoutImages" class="article" routerLink="/{{news?.slug}}">
                <div class="article-body">
                    <h2 class="article-title">
                        <span class="title">{{news?.name}}</span>
                        <span class="number">#{{news?.position}}</span>
                    </h2>
                    <p class="article-content">
                        {{news?.content}}
                    </p>
                    <footer class="article-info">
                        <span>By Joe Smith</span>
                        <span>{{news?.reading_time}}min. Lesezeit</span>
                    </footer>
                </div>
            </a>
        </div>
    </main>
</section>
<section name="main-content">
    <!-- <img class="triangle-top col img-fluid" src="/images/triangle-top.svg" /> -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 p-4">
                <p class="text-right p-4 category-filter">
                    Anzeige nach <button type="button" class="btn btn-link">Kategorien</button> / Aktualität
                </p>
                <section *ngFor="let categories of (frontpageCategories | objToArr)">
                    <h2 class="category-title">{{categories?.name}}</h2>

                    <div class="col-xs-12" *ngFor="let newsinfo of (categories?.news | objToArr)">
                        <article *ngFor="let news of (newsinfo | objToArr)">
                            <a class="d-flex flex-row" routerLink="{{news?.slug}}">
                                <div class="flex-first">
                                    <img class="img-fluid" src="{{news?.image_url}}" alt="" />
                                </div>
                                <div class="col-md-7 flex-last">
                                    <header><h3>{{news?.name}}</h3></header>
                                    <main><p>{{news?.short_description}}</p></main>
                                    <footer><p>Hello World #11</p></footer>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a routerLink="{{categories?.slug}}" class="category-link">Alle Artikel zum Thema {{ categories?.name }} &raquo;</a>
                    </div>
                </section>
            </div>
            <sticky class="col-md-4 p-4" [sticky-offset-top]="75">
                <h2 class="category-title">Wer bloggt hier?</h2>
                <h2 class="category-title">Brandheiß</h2>
                <h2 class="category-title">Geplantes...</h2>
            </sticky>
        </div>
    </div>
</section>