<section name="top-news">
    <header class="container">
        <h1 class="small">Neues aus dem Blog</h1>
    </header>
    <main class="container columns">
        <div class="column main-column">
            <a *ngFor="let news of topNews" class="article first-article" routerLink="/{{news?.slug}}" title="Artikel {{news?.name}} weiterlesen">
                <figure class="article-image is-3by2">
                    <img src="{{news?.image_url}}" alt="" />
                </figure>
                <div class="article-body">
                    <h2 class="article-title">
                        <span class="title">{{news?.name}}</span>
                        <span class="number">#{{news?.position}}</span>
                    </h2>
                    <p class="article-content">
                        {{news?.content}}
                    </p>
                    <footer class="article-info">
                        <span>By Joe Smith</span>
                        <span>{{news?.reading_time}}min. Lesezeit</span>
                    </footer>
                </div>
            </a>
            <div class="columns">
                <div *ngFor="let news of newsImages" class="column nested-column">
                    <a class="article" routerLink="/{{news?.slug}}">
                        <figure class="article-image is-16by9">
                            <img src="{{news?.image_url}}" alt="" />
                        </figure>
                        <div class="article-body">
                            <h2 class="article-title">
                                <span class="title">{{news?.name}}</span>
                                <span class="number">#{{news?.position}}</span>
                            </h2>
                            <p class="article-content">
                                {{news?.content}}
                            </p>
                            <footer class="article-info">
                                <span>By Joe Smith</span>
                                <span>{{news?.reading_time}}min. Lesezeit</span>
                            </footer>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="column aside-column">
            <a *ngFor="let news of newsWithoutImages" class="article" routerLink="/{{news?.slug}}">
                <div class="article-body">
                    <h2 class="article-title">
                        <span class="title">{{news?.name}}</span>
                        <span class="number">#{{news?.position}}</span>
                    </h2>
                    <p class="article-content">
                        {{news?.content}}
                    </p>
                    <footer class="article-info">
                        <span>By Joe Smith</span>
                        <span>{{news?.reading_time}}min. Lesezeit</span>
                    </footer>
                </div>
            </a>
        </div>
    </main>
</section>
<section name="main-content">
    <div class="container">
        <header>
            <h1>Lorem Ipsum</h1>
        </header>
        <main>
            <h2>dolor sit amet</h2>
        </main>
        <footer>
            <h3>consectetur</h3>
        </footer>
    </div>
</section>