section[name="top-news"] {
    background: #595657;
    padding-bottom: 7em !important;
    position: relative;
    z-index: 2;
}

section[name="top-news"] main,
section[name="top-news"] header {
    padding: 0;
}

section[name="main-content"] {
    background: #F2F1EF;
    position: relative;
    z-index: 2;
}

.triangle-top {
    background: #595657;
    height: 101px;
    margin-top:-101px;
    width: 100%;
    padding: 0
}

section[name="main-content"] .container {
    padding: 3em 0 2em;
}

.category-filter {
    margin-top:-4em;
    margin-bottom: -2.9em;
}

h2.category-title {
    margin-bottom: 1em;
    width: 100%;
}

header h1 {
    color: #FFFFFF;
    font-family: Metrophobic;
    font-size: 3rem;
    font-variant: small-caps;
    letter-spacing: -1px;
    padding: 20px 0px 0px !important
}
.column {
    flex-direction: column;
    flex: 1
}

.aside-column {
    margin: 20px 0
}

article {
    background: #ffffff;
    box-shadow:rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 9px 9px 0;
    margin-bottom: 2em;
    transition: .2s all;
    overflow: hidden;
    min-height: 194px;
    max-height: 194px;
}

article:hover,
article:focus,
article:active {
    box-shadow:rgba(0, 0, 0, 0.5) 0 12px 12px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 12px 12px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.5) 0 12px 12px 0;
    transition: margin-top;
    cursor: pointer;
    margin-top: -0.5em;
    margin-bottom: 2.5em;
    transition: .2s all;
    text-decoration: none;
}

article.col {
    padding: 0
}

article h3 {
    margin: 0.75em 0 0.25em;
}

article a {
    color: #222;
    text-decoration: none;
}

article a main p {
    min-height: 89px;
    margin-bottom: 0.5em;
}

article a footer p {
    color: #bebebe;
    text-shadow: 1px 1px 12px #ccc
}

.article {
    background: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #666666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin-bottom: 20px;
    transition: .2s all
}

.article:hover,
.article:focus,
.article:active {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #444;
    text-decoration: none;
    transition: .2s all
}

.article:hover span.number {
    color: #666 !important;
    transition: .2s all
}

.article-image {
    background: #eee;
    display: block;
    padding-top: 100% !important;
    max-height: 251px;
    position: relative;
    width: 100%
}

.article-image img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.article-image.is-3by2 {
    padding-top: 66.6666% !important
}

.article-image.is-16by9 {
    padding-top: 56.25% !important
}

.article-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px !important;
    background: #fff
}

h2.article-info span.content {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px
}

.article-title {
    color: #333;
    font-family: Metrophobic;
    flex-shrink: 0;
    font-size: 1.4em;
    font-variant: small-caps;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12px !important
}

.article-title span.title {
    display: block;
    float: left;
    font-size: 1.5em;
    width: 85%
}

.article-title span.number {
    float:right;
    font-size: 1.4em;
    margin-top:-10px;
    color:#eee
}

.article-title span.number:after {
    clear:right
}

.article-content {
    flex: 1;
    margin-top: 5px
}

.article-info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px
}

section section {
    margin-bottom: 2.5em
}

section[name="main-content"] .container .row section a.category-link {
    color: #666;
    font-weight: lighter;
    transition: .2s all;
}

section[name="main-content"] .container .row section a.category-link:hover,
section[name="main-content"] .container .row section a.category-link:focus
{
    text-decoration: none;
    font-weight: 400;
    transition: .2s all;
}

section[name="main-content"]:before {
    background: url('/images/triangle-top.svg');
    content: "";
    display: block;
    height: 101px;
    position: absolute;
    top:-101px;
    width: 100%;
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    .columns,
    .column {
        display: flex
    }

    .main-column {
        flex: 1
    }

    .nested-column {
        flex: 12
    }
}

@media screen and (max-width: 800px) {
    header h1.small {
        font-size: 2.5rem;
    }

    section[name="main-content"] .d-flex {
        display: block !important;
    }

    section[name="main-content"] img {
        width: 100%;
    }

    section[name="main-content"] .container .row .col-md-8.p-3 p.text-right.p-4 {
        padding-bottom: 0 !important;
    }

    section[name="main-content"] .container .row {
        margin-left: 0;
        margin-right: 0;
    }

    section section {
        margin-bottom: 2em;
    }

    .category-filter {
        margin-bottom: 1em;
    }

    article {
        max-height: unset !important;
        min-height: unset !important;
    }
}

@media screen and (min-width: 1000px) {
    .first-article {
        flex-direction: row;
        max-height: 350px
    }

    .first-article .article-body {
        flex: 1
    }

    .article-image.is-3by2 {
        padding-top: .0% !important
    }

    .first-article .article-image {
        height: 350px;
        order: 2;
        padding-top: 0;
        width: 370px;
        max-height: 350px
    }

    .main-column {
        flex: 2;
        /*margin: 20px 20px 20px -1.25em*/
        padding: 20px 20px 20px 0em;
    }

    .nested-column {
        flex: 2;
    }

    .nested-column:first-child {
        margin-right: 20px
    }
}

@media screen and (min-width: 1150px) {
    .columns,
    .column {
        display: flex
    }
}